/* styles.css Ejercicio 1*/
body {
      font-family: Arial, sans-serif;
      margin: 20px;
      line-height: 1.6;
      /* Cambié el color de fondo a lightblue. Ejercicio 2*/
      background-color: lightblue;
      color: #333;
    }
    h1, h2 {
      /* Cambié el color de los encabezados a rojo. Ejercicio 3 */
      color: red;
    }
    ul {
      margin-left: 20px;
    }
    img {
      width: 400px;
      height: 300px;
      margin: auto;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      /* Centrar la imagen. Ejercicio 4 */
      display: block;
      text-align: center;
    }
    section {
      max-width: 760px;
      margin: auto;
      /* Cambié fondo section a lightblue Ejercicio 2 */
      background: lightblue;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    }