body {
      font-family: Montserrat, sans-serif;
      margin: 20px;
      line-height: 1.6;
      background-color: lightblue;
      color: #333;
    }


    h1, h2 {
      color: red;
    }
    ul {
      margin-left: 20px;
    }
    
    section {
      max-width: 760px;
      margin: auto;
      background: lightblue;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    }

    #clil-diagram {
      width: 400px;
      height: 300px;
      margin: auto;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      display: block;
      text-align: center;
    }

     #div-button {
      display: flex;
      justify-content: center;
      align-items: center;
    } 

    #btnTop {
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    display: none; 
    padding: 15px 20px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#btnTop:hover {
    background-color: #0056b3;
}